.custom-modal-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 10px;
  border-radius: 5px;
}

.custom-modal-body-close-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  opacity: 0.4;
  transition: 350ms;

  &:hover {
    opacity: 1;
  }
}
